.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

.heading {
  color: #326a9d;
  font-size: 50px;
  font-family: 'Roboto';
}
.descr {
  color: #cbced2;
  font-size: 25px;
  font-family: 'Roboto';
}
.button {
  border-radius: 10px;
  border-color: #326a9d;
  border-style: solid;
  color: #326a9d;
  background-color: transparent;
  height: 24px;
  width: 50px;
  margin: 10px;
}
